<div class="row no-margins">
    <div class="container">
        <div>
            <h1 style="text-align: center;">Dane Klienta</h1> 
        </div>
        <div class="row">
            <div class="col box">
                <app-client-edit></app-client-edit>
            </div>
            <div class="col">
                <div class="box">
                    <app-client-gallery></app-client-gallery>
                </div>
                <div class="box">
                    <app-client-appointments></app-client-appointments>
                </div>
            </div>
        </div>
    </div>
</div>